{% extends "master.html" %}

{% block title%}Task List{% endblock %}

{% block content%}

<body data-bs-theme="light">
    <div class="container mt-5">
        <div class="d-flex justify-content-end align-items-center mb-4">
            <button id="theme-toggle" class="btn btn-outline-secondary"></button>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>TASK TRACKER<i class="fa-regular fa-circle-check"></i></h2>
           
            <a href="{% url 'add_task' %}" class="btn btn-primary btn-sm mb-3"><i class="fa-solid fa-plus"></i>Add New Task</a>
        </div>
        <div class="border rounded p-2 d-inline-block bg-body shadow-sm mb-3">
            <p class="mb-0">Pending task : {{ pending_task }}</p>
        </div>
        <table class="table table-hover  table-bordered mb-0">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr draggable="true" ondragstart="dragit(event)" ondragover="dragover(event)" >
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created_at|date:"Y-m-d" }}</td>
                    <td>{{ task.due_date|date:"Y-m-d" }}</td>
                    <td>
                        {% if task.complete_task %}
                            <span class="badge bg-success">Completed</span>
                        {% else %}
                            {% if task.due_date == today %}
                                <span class="badge bg-danger">Due Today</span>
                            {% elif task.due_date and task.due_date < today %}
                                <span class="badge bg-secondary">Overdue</span>
                            {% else %}
                                <span class="badge bg-warning">Pending</span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td class="d-flex gap-2">
                        {% if not task.complete_task %}
                        <span><a href="{% url 'complete_task' task.id %}" class="btn btn-success btn-sm">Done</a></span>
                        {% else %}
                        <!-- <span>-</span> -->
                        {% endif %}
                        <span><a href="{% url 'update_task' task.id %}" class="btn btn-info btn-sm">Update</a></span>
                        <span><a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    let shadow
    function dragit(event){
        shadow=event.target;
    }
    function dragover(e){
        let children=Array.from(e.target.parentNode.parentNode.children);
    if(children.indexOf(e.target.parentNode)>children.indexOf(shadow))
        e.target.parentNode.after(shadow);
        else e.target.parentNode.before(shadow);
    }
</script>
{% endblock%}